<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Access Management System</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Access Log Dashboard</h1>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Uid</th>
              <th>Permitted</th>
              <th>Time</th>
              <th>UserName</th>
            </tr>
          </thead>
          {{range .}}
          <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Uid }}</td>
            <td data-value="{{ .Permitted }}">{{ .Permitted }}</td>
            <td>{{ .Time }}</td>
            <td>{{ .UserName }}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </body>
</html>
